<div class="card" [class.compact]="mode === 'compact'">
  <div class="body">
    <div class="role-line">
      <h3 class="role">{{ title }}</h3>
      @if (badge) {
        <span class="contract">{{ badge }}</span>
      }
    </div>

    <div class="meta">{{ meta }}</div>

    @if (description) {
      <div class="desc" [class.compact]="mode === 'compact'">
        {{ description }}
      </div>
    }

    @if (tags.length) {
      <div class="stack">
        @for (t of tags; track t) {
          <span class="tag">{{ t }}</span>
        }
      </div>
    }
  </div>

  @if (start || end) {
    <div class="dates">
      <div class="end">{{ end ? (end | date:'LLL yyyy') : 'Présent' }}</div>
      <div class="duration">{{ start | duration:end }}</div>
      <div class="duration-line"></div>
      <div class="start">{{ start | date:'LLL yyyy' }}</div>
    </div>
  }
</div>
